[tool.poetry]
name = "aprofiles"
version = "0.9.1"
description = "Analysis of atmospheric profilers measurements"
authors = ["augustinm <augustinm@met.no>"]
license = "GPL-3.0"

[tool.poetry.scripts]
aprocess = {callable = "aprofiles.cli.aprocess:app", extras = ["cli"]}

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
matplotlib = "^3.8.0,<3.9"
miepython = "^2.2.1"
netCDF4 = "^1.5.8"
numpy = ">=1.22,<2.1"
seaborn = "^0.13.0"
scipy = "^1.7.2"
xarray = "^v2024.09.0"
typer = {extras = ["all"], version = "^0.12.0", optional = true}
orjson = "^3.10.7"
dask = "^2024.9.0"
numba = "^0.60.0"
rich = "^13.8.1"

[tool.poetry.extras]
docs = ["mkdocs-material", "mkdocs-autorefs", "pymdown-extensions", "mkdocstrings", "markdown-include"]
cli = ["typer"]

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
black = "^24.8.0"
ipykernel = "^6.5.1"
pytest-cov = "^3.0.0"
ipython = "^8.27.0"
mkdocs-material = "^9.5.36"
mkdocs-autorefs = "^1.2.0"
pymdown-extensions = "^10.10"
mkdocstrings = {extras = ["python"], version = "^0.26.1"}
markdown-include = "^0.8.1"
mkdocs-copy = "^0.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
