[tool.poetry]
name = "aprofiles"
version = "0.7.0"
description = "Analysis of atmospheric profilers measurements"
authors = ["augustinm <augustinm@met.no>"]
license = "GPL-3.0"

[tool.poetry.scripts]
aprocess = {callable = "aprofiles.cli.aprocess:app", extras = ["cli"]}

[tool.poetry.dependencies]
python = ">=3.10,<=3.12"
matplotlib = "^3.5.0,<3.9"
miepython = "^2.2.1"
netCDF4 = "^1.5.8"
numpy = "^1.21.4"
seaborn = "^0.11.2"
scipy = "^1.7.2"
xarray = "^2023.09.0"
sphinx = {version = "^6.0.0", optional = true}
pydata-sphinx-theme = {version = ">=0.9.0", optional = true}
recommonmark = {version = "^0.7.1", optional = true}
typer = {extras = ["all"], version = "^0.10.0", optional = true}
orjson = "^3.6.7"
dask = "^2022.10.2"
numba = "^0.58.0"
rich = "^13.8.1"

[tool.poetry.extras]
docs = ["sphinx", "pydata-sphinx-theme", "recommonmark"]
cli = ["typer"]

[tool.poetry.group.dev.dependencies]
pytest = "^6.2.5"
black = "^22.3.0"
ipykernel = "^6.5.1"
pytest-cov = "^3.0.0"
ipython = "^8.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
