[tool.poetry]
name = "aprofiles"
version = "0.3.5"
description = "Analysis of atmospheric profilers measurements"
authors = ["augustinm <augustinm@met.no>"]
license = "GPL-3.0"

[tool.poetry.dependencies]
python = ">=3.7,<3.10"
matplotlib = "^3.5.0"
miepython = "^2.2.1"
netCDF4 = "^1.5.8"
numpy = "^1.21.4"
seaborn = "^0.11.2"
scipy = "^1.7.2"
tqdm = "^4.62.3"
xarray = "^0.20.1"
sphinx = {version = "^4.3.0", optional = true}
pydata-sphinx-theme = {version = "^0.7.2", optional = true}
recommonmark = {version = "^0.7.1", optional = true}
typer = "^0.4.0"


[tool.poetry.extras]
docs = ["sphinx", "pydata-sphinx-theme", "recommonmark"]

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^21.11b1"
ipykernel = "^6.5.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
