img.logo{
    width: 113px;
    height: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-brand{
    padding: 2px 0px;
}

main img {
    max-width: 100%;
    height: auto !important;
}

.navbar {
    padding: 0px 10px;
}

img.awesome-svg {
    height: 30px !important;
    filter: invert(74%) sepia(5%) saturate(91%) hue-rotate(155deg) brightness(92%) contrast(82%);
    margin: 10px 0px 20px 0px;
    left: calc(50% - 30px);
    position: relative;
}

/*
img.awesome-svg {
    height: 30px !important;
    filter: filter: invert(9%) sepia(43%) saturate(4398%) hue-rotate(242deg) brightness(98%) contrast(117%);
    margin: 5px 10px 0px 0px;
    position: relative;
    float: left;
}
*/

#via-pip > h2::before{
    background-image:url('../images/pip.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

  #via-git > h2::before{
    background-image:url('../images/github.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

#navbar-icon-links i.fab{
    line-height: initial;   
}