img.logo__image{
    width: 113px;
    height: 24px;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.navbar-brand{
    padding: 2px 0px;
}

main img {
    max-width: 100%;
    height: auto !important;
}

.navbar {
    padding: 0px 10px;
}
/*
#via-pip > h2::before{
    background-image:url('../images/pip.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

  #via-git > h2::before{
    background-image:url('../images/github.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

#navbar-icon-links i.fab{
    line-height: initial;   
}
*/

/*themes*/
/* anything related to the light theme */
html[data-theme="light"] {
    /* whatever you want to change */
    background: white;
}

/* anything related to the dark theme */
html[data-theme="dark"] {
    --pst-color-background: #282b34; /*body*/
    --pst-color-on-background: #212529; /*header*/
}

html[data-theme="dark"] img {
    filter: none;
}

img.awesome-svg {
    height: 30px !important;
    filter: invert(74%) sepia(5%) saturate(91%) hue-rotate(155deg) brightness(92%) contrast(82%) !important;
    margin: 10px 0px 20px 0px;
    left: calc(50% - 30px);
    position: relative;
}
