img.logo{
    width: 113px;
    height: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-brand{
    padding: 2px 0px;
}

main img {
    max-width: 100%;
    height: auto !important;
}

.navbar {
    padding: 0px 10px;
}

#api > a {
    text-align: center;
    display: block;
    margin: 20px 0px;
    pointer-events: none;
}

#api > a > img {
    height: 40px !important;
    filter: invert(100%) sepia(26%) saturate(5024%) hue-rotate(79deg) brightness(95%) contrast(93%);
}

#via-pip > h2::before{
    background-image:url('../images/pip.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

  #via-git > h2::before{
    background-image:url('../images/github.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
  }

#navbar-icon-links i.fab{
    line-height: initial;   
}